#__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
config.json
.idea/
checkpoints/
data/
gpt2-dist.log
output_dir/
torch-elastic-error.json
.coverage_*
*~
logs
temp/
*.ipynb_checkpoints/

# Data folder
bookcorpus_data/

*__pycache__*
ds_config.json
.vscode/
