__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

# binaries
*.so

# tmp files
*.swp

# AML workspace config file
*config.json
.idea/
checkpoints/
data/
examples/bert_with_pile/hostfile
gpt2-dist.log
output_dir/
torch-elastic-error.json
.coverage_*
*~
slurm*
logs

